body {
    background: ghostwhite;
}

/* Game */
canvas {
    position: absolute;
    border: 1px solid black;
}

/* Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

nav li a:hover {
    background-color: darkblue;
}

@media screen and (max-width: 600px){
    nav li {float: none;}
}

#game {
    position: relative;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 700px;
}

#scoreTable {
    display: none;
    position: absolute;
    top: 520px;
    left: 15px;
    color: blue;
    font-size: 1.25em;
    font-family: 'LuckiestGuy';
    cursor: default;
}

#healthBar {
    display: none;
    position: absolute;
    top: 520px;
    left: 500px;
    color: blue;
    font-size: 1.25em;
    font-family: 'LuckiestGuy';
    cursor: default;
}

.information {
    position: absolute;
    left: 290px;
    color: blue;
    font-size: 1.5em;
    font-family: 'LuckiestGuy';
    cursor: default;
    animation-name: scrollingText;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    display: none;
}

.playAgain {
    position: absolute;
    left: 300px;
    top: 225px;
    color: blue;
    font-size: 1.5em;
    opacity: 0;
    font-family: 'LuckiestGuy';
    cursor: pointer;
    display: none;
    animation-name: moveClickText;
    animation-duration: 5s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

.playAgain span:hover {
    color: dodgerblue;
}

#nextLevel {
    position: absolute;
    top: 215px;
    left: 300px;
    color: blue;
    font-size: 1.5em;
    font-family: 'LuckiestGuy';
    cursor: default;
    display: none;
}

@keyframes scrollingText {
    0%  {top: -50px; opacity: 0;}
    30% {top: 200px; opacity: 1;}
    70% {top: 200px; opacity: 1;}
    100% {top: 450px; opacity: 0;}
}

@keyframes moveClickText {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url('../asset/font/LuckiestGuy.ttf');
}
